<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calculate profit on your wallet</title></head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/jszip-3.10.1/dt-1.13.8/b-2.4.2/b-html5-2.4.2/sc-2.3.0/datatables.min.css" rel="stylesheet">

<body class="bg-body-tertiary">
<div class="container">
    <h1>Enter Address to calculate your DCA profit</h1>
    <form id="addressForm">

        <div class="input-group mb-3 addressInputGroup" th:each="address : ${addresses}">
            <input th:value="*{address}" type="text" class="form-control" placeholder="Bitcoin Address" aria-label="Bitcoin Address" aria-describedby="basic-addon2" required pattern=".*\S+.*" title="This field is required">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary addAddressField" type="button">+</button>
                <button class="btn btn-outline-secondary" type="submit">Show graph</button>
            </div>
        </div>
    </form>
    <div class="alert alert-danger alert-dismissible d-none">
        Something went wrong retrieving the data, please try again.
        <button type="button" class="btn-close" data-dismiss="alert" aria-hidden="true"></button>
    </div>
    <div class="spinner-border d-none" role="status">
        <span class="sr-only"></span>
    </div>
    <div id="data">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    Total Sats
                    <h1 id="totalSats"></h1>
                </div>
                <div class="col">
                    Total Eur Value Deposited
                    <h1 id="totalEurValueDeposited"></h1>
                </div>
                <div class="col">
                    Total Eur Value Now
                    <h1 id="totalEurValueNow"></h1>
                </div>
                <div class="col">
                    Profit
                    <h1 id="profit"></h1>
                </div>
            </div>
        </div>


        <canvas id="myChart"></canvas>

        <span id="lastKnownPrice"></span>
        <div class="accordion" id="accordionExtra">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Advanced: Year over year data
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table id="yoydata" class="display table table-striped" style="width:100%">
                            <thead>
                            <tr>
                                <th>Year</th>
                                <th>Value end of year</th>
                                <th>Deposits this year</th>
                                <th>Profit compared to start of year</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Advanced: All transactions
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table id="transactions" class="display table table-striped" style="width:100%">
                            <thead>
                            <tr>
                                <th>Transaction Id</th>
                                <th>Timestamp</th>
                                <th>Amount in sats</th>
                                <th>Value in eur at time</th>
                                <th>Value eur now</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        About me
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>The company I work for provides the option to receive a part of your salary in Bitcoin. Because I couldn't find a website that was giving me info about the value and performance of this DCA'ing I decided to start
                            a website that would provide this</p>
                        <p>It's a simple webapp that uses the CoinGecko API to get the current value of the Bitcoin and the historical value of the Bitcoin. With this data it calculates the profit you made on your wallet. To get the
                            transactions from and to your address it uses the http://blockstream.info API. </p>
                        <p>You can easily bookmark your own address, because when you enter it in the input field it will be added to your browser bar</p>
                        <p>Feel free to share this website or if you have ideas or suggestions feel free to create an issue (or merge request ;)) on <a href="https://github.com/maartenn/crypto-fiat-tracker">https://github.com/maartenn/crypto-fiat-tracker</a></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <span class="text-muted">Please note: Outcomes may vary based on local exchange pricing, and there is always a possibility of bugs in the code.</span>
        <a href="https://github.com/maartenn/crypto-fiat-tracker">github repository</a>
    </div>
</footer>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

<script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/jszip-3.10.1/dt-1.13.8/b-2.4.2/b-html5-2.4.2/sc-2.3.0/datatables.min.js"></script>

<script>
    $(document).ready(function () {
        $.ajaxSetup({timeout: 15000});
        $('#data').hide();

        // setup
        const myChart = new Chart(document.getElementById('myChart'), {
            type: 'line',
            data: {
                labels: [], // Lege labels, worden dynamisch gevuld
                datasets: [{
                    label: 'Eur At Moment Of Depositing',
                    data: [], // Lege dataset, wordt dynamisch gevuld
                    borderColor: 'blue',
                    borderWidth: 1,
                    pointRadius: 0,
                }, {
                    label: 'Eur Value Now',
                    data: [], // Lege dataset, wordt dynamisch gevuld
                    borderColor: 'red',
                    borderWidth: 1,
                    pointRadius: 0,
                }]
            },
            // add animation to chart
            'animation': {
                'duration': 2000,
                'easing': 'easeInOutQuart'
            },
            options: {
                transitions: {
                    show: {
                        animations: {

                            y: {
                                from: 0
                            }
                        }
                    },
                    hide: {
                        animations: {
                            x: {
                                to: 0
                            },
                            y: {
                                to: 0
                            }
                        }
                    }
                },
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'month',
                            displayFormats: {
                                month: 'MMM yy'
                            }
                        },
                        title: {
                            display: true,
                            text: 'Date'
                        }
                    },
                    y: {
                        beginAtZero: true,
                    }
                }
            }
        });

        // if address is filled then load data
        let addresses = getAddresses();

        if (addresses.length != 0) {
            getDataForAddresses(addresses);
        }


        function getDataForAddresses(value) {

            $("#addressBtn").prop("disabled", true);
            // $("#addressBtn").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...');
            $('.spinner-border').removeClass('d-none');


            $.get("transactions/" + value)
                .always(function (data) {
                    // enable button again
                    $("#addressBtn").prop("disabled", false);
                    $('.spinner-border').addClass('d-none');
                })
                .fail(function (data) {
                    $('.alert').removeClass('d-none');
                })
                .done(function (data) {
                    $('.alert').addClass('d-none');
                    $('#data').show();

                    // alert( "Data Loaded: " + data );
                    let dataTableYoY = $('#yoydata').DataTable();
                    dataTableYoY.clear();
                    dataTableYoY.rows.add(data.yearOverYearData.map(item => [
                        item.year,
                        '€ ' + item.totalAmountEurValueNow,
                        '€ ' + item.depositsThisYear,
                        item.profitComparedToPreviousYear + '%',
                    ]));
                    dataTableYoY.order([0, 'desc']);
                    dataTableYoY.draw();
                    let dataTableTransactions = $('#transactions').DataTable();
                    dataTableTransactions.clear();
                    // Voeg alle nieuwe rijen in één keer toe
                    dataTableTransactions.rows.add(data.mappedTransactions.map(item => [
                        item.txId,
                        new Date(item.timestamp*1000),
                        item.txAmountSats,
                        '€ ' + item.txAmountEur,
                        '€ ' + item.txAmountEurNow,
                    ]));
                    dataTableTransactions.order([1, 'desc']); // Sorteer op kolom 1 (timestamp) in aflopende volgorde])]

                    // Teken de tabel opnieuw
                    dataTableTransactions.draw();

                    const labels = data.dailyData.map(item => new Date(item.day * 1000));
                    const dataDepositing = data.dailyData.map(item => item.totalAmountEurAtMomentOfDepositing);
                    const dataValueNow = data.dailyData.map(item => item.totalAmountEurValueNow);

                    // Update de labels en datasets van de grafiek
                    myChart.data.labels = labels;
                    myChart.data.datasets[0].data = dataDepositing; // first dataset
                    myChart.data.datasets[1].data = dataValueNow;   // second dataset

                    // redraw the chart
                    myChart.update();
//animate totalsats to start counting from zero
                    $({Counter: 0}).animate({
                        Counter: data.sats
                    }, {
                        duration: 2000,
                        easing: 'swing',
                        step: function () {
                            $('#totalSats').text(Math.ceil(this.Counter) + " sats");
                        }
                    });
                    //animate totalsats to start counting from zero
                    $({Counter: 0}).animate({
                        Counter: data.netEurDeposited
                    }, {
                        duration: 2000,
                        easing: 'swing',
                        step: function () {
                            $('#totalEurValueDeposited').text('€ ' + Math.ceil(this.Counter));
                        }
                    });
                    //animate totalsats to start counting from zero
                    $({Counter: 0}).animate({
                        Counter: data.totalEurValueNow
                    }, {
                        duration: 2000,
                        easing: 'swing',
                        step: function () {
                            $('#totalEurValueNow').text('€ ' + Math.ceil(this.Counter));
                        }
                    });
                    //animate totalsats to start counting from zero
                    $({Counter: 0}).animate({
                        Counter: data.percentProfit
                    }, {
                        duration: 2000,
                        easing: 'swing',
                        step: function () {
                            $('#profit').text(Math.ceil(this.Counter) + "%");
                        }
                    });
                    $("#lastKnownPrice").text("Last known price: € " + data.lastKnownPrice + " from: " + new Date(data.dateOfLastKnownPrice * 1000));
                    // enable button again
                    $("#addressBtn").html('Show graph');
                });
        }


        function addAddressInput() {
            console.log('addAddressInput');
            const newInputGroup = $('.addressInputGroup').last().clone();
            newInputGroup.find('.input-group-append').empty();
            newInputGroup.find('input').val('');
            newInputGroup.find('.input-group-append').append('<button class="btn btn-outline-danger remove-address" type="button" >-</button>');
            $('.addressInputGroup').last().after(newInputGroup);
        }


        $(document).on('click','.addAddressField:first', function () {
            addAddressInput();
        });

        $(document).on('click','.remove-address' ,function () {
            $(this).closest('.input-group').remove();
        });

        function getAddresses() {
            let addresses = [];
            $('#addressForm input[type="text"]').each(function () {
                let address = $(this).val().trim();
                if (address) {
                    addresses.push(address);
                }
            });
            return addresses;
        }

        $("#addressForm").on('submit', function (event) {
            event.preventDefault();
            let addresses = getAddresses();

            if (addresses.length === 0) {
                alert('Please enter at least one address.');
                return;
            }

            getDataForAddresses(addresses);
            history.replaceState({}, '', '/' + addresses.join(','));
        });
    });

</script>
</body>
</html>